.navbar {
    display: flex;
    justify-content: space-between; /* Espaça os itens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #022e5d; /* Cor de fundo */
    color: white; /* Cor do texto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efeito */
    width: 100%; /* Faz a navbar ocupar toda a largura da tela */
    position: fixed; /* Fixa a navbar no topo */
    top: 0; /* Fixa no topo da tela */
    left: 0; /* Alinha à esquerda */
    z-index: 1000;/* Garante que a navbar fique acima de outros elementos */
  }
  
  .navbar-logo .logo {
    max-width: 50px; /* Tamanho máximo do logo */
    height: auto;
  }
  
  .navbar-title h1 {
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  